
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


.px-3 {
  padding-bottom: 18rem;
}

.cover-heading {
  font-size: 3.2rem;
}

.bg-dark{
  background-color: #dcdede!important;
}

.text-white{
  color: #375d7a!important;
}

body {
box-shadow: inset 0 0 0 rgb(0 0 0 / 50%);
}

.bg-white{
  background-color: #055160!important;
}

.nav-masthead .active {
  color: #055160;
}

.nav-masthead .nav-link {
  color: #055160
}

#index-heading {
  position: fixed;
  top: 200px;
  left: 420px;
  right: 100px;

}

#login {
  position: fixed;
  top: 200px;
  left: 350px;
  right: 100px;

}

#register {
  position: fixed;
  top: 200px;
  left: 350px;
  right: 100px;

}

#profile-sidebar {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 150px; 
}

.nav-link {
  padding-bottom: 25px;
}