{% extends "layout.html" %} 

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="cover-container" id="index-heading">
        <h1 class="cover-heading">GamersConnect</h1>
        <p class="lead">Where Gamers Come Together</p>
        <p class="lead">
            <a href="/register" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Register</a>
            <a href="/login" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Log In</a>
        </p>
    </div>
{% endblock %}